---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resume">
	<main>
    <h1>hello world</h1>
    <span>Lorem ipsum dolor sit.</span>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, quo.</p>
	</main>
</Layout>
