---
const { pathname } = Astro.url;

const navLinks = [
  { toPath: '/', title: 'About' },
  { toPath: '/portfolio', title: 'Portfolio' },
  { toPath: '/resume', title: 'Resume' },
];

const isCurrentPath = (path: string) => path === pathname;
---

<nav>
  <div class="topbar-container">
    <div class="website-name">
      {isCurrentPath('/') ? <span>marioBytes Media</span> : <a href="/">marioBytes Media</a>}
    </div>
    <ul>
      {
        navLinks.map(({ title, toPath }) =>
          pathname === toPath ? (
            <li>
              <span class="active">{title}</span>
            </li>
          ) : (
            <li>
              <a href={toPath}>{title}</a>
            </li>
          )
        )
      }
    </ul>
  </div>
</nav>

<style>
  .topbar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .website-name {
    font-family: 'Inconsolata', monospace;
    font-size: 0.95rem;
    padding-top: 15px;
  }

  nav ul {
    list-style: none;
    padding: 0 15px;
    text-align: right;
  }

  nav ul li {
    display: inline;
    font-weight: 600;
    padding: 10px;
  }

  nav ul:last-child {
    padding-right: 0;
  }

  nav a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.35s;
  }

  nav ul a:hover {
    color: var(--purple);
    transition: color 0.35s;
  }

  .active {
    color: var(--purple);
    transition: color 0.35s;
  }

  .active:hover {
    color: var(--gray);
    transition: color 0.35s;
  }
</style>
