---
import Topbar from '../components/Topbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <link href="https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:500" rel="stylesheet" />
		<title>{title} | marioBytes Web Development</title>
	</head>
	<body>
    <Topbar />
    <div class="container">
      <slot />
    </div>
	</body>
</html>

<style is:global>
	:root {
    --black: rgba(5, 5, 5, 100);
    --gray: rgba(45, 45, 45, 100);
    --white: rgba(225, 225, 225, 100);
    --purple: rgba(164, 69, 237, 100);
	}

  .container {
    padding: 0 1rem;
    margin: auto;
  }

  body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Inter', sans-serif;
  }

  p, a, span {
    line-height: 1.25;
  }
</style>
